.home-card {
  max-width: 480px;
  margin: 0 auto 0 auto;
}

.content {
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

.center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

  * {
    line-height: 3rem;
    font-size: 2rem;
  }

  span {
    color: deeppink;
    cursor: pointer;
  }
}

::ng-deep .mat-checkbox  {
  display: block;
  min-width: 480px;
}

.header {
  margin-top: 16px;
  font-size: 1.3em;
  font-weight: bold;
}

.tasks {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  max-height: 500px;
  min-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
