<div style="padding-top: 80px">
  <mat-card class="home-card" *ngIf="user$ | async as user">
    <mat-card-title>{{user.username}}'s tasks</mat-card-title>
    <div class="content">
      <ng-container *ngIf="user.tasks.length > 0; else noTasks">
        <div class="header">Tasks</div>
        <div class="tasks">
          <div style="display: flex; flex-direction: row" *ngFor="let task of filtered(user.tasks, showUnfinished, showFinished)">
            <button mat-icon-button color="warn" (click)="deleteTask(task)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-checkbox labelPosition="before"
                          (change)="completeTask(task)"
                          [checked]="task.completed"
                          [disabled]="task.completed">
              <div style="margin-left: 16px; width: 380px">
                <div style="font-size: 1.2em">{{task.task}}</div>
                <div style="font-size: 0.9em">{{task.created | date: 'dd/MM/yyyy HH:mm'}}</div>
              </div>
            </mat-checkbox>
          </div>
        </div>
      </ng-container>
      <ng-template #noTasks>
        <div style="height: 200px; width: 100%; position: relative">
          <div class="center">
            <h3> There are no tasks yet!<br>Click <span (click)="openTaskDialog()">here</span> to add one!</h3>
          </div>
        </div>
      </ng-template>

      <div style="height: 8px"></div>

      <mat-slide-toggle [(ngModel)]="showFinished">Show finished</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="showUnfinished">Show not finished</mat-slide-toggle>

      <div style="margin-left: auto">
        <button *ngIf="user.tasks.length > 0" style="width: 100px;"  mat-flat-button color="primary" (click)="openTaskDialog()">Add task</button>
        <button style="margin-left: 16px; width: 100px;"  mat-flat-button color="accent" (click)="logout()">Logout</button>
      </div>

    </div>
  </mat-card>
</div>

<ng-template #taskDialog>
  <div style="width: 400px">
    <h2>Create task</h2>
    <mat-form-field style="display: block">
      <mat-label>Task</mat-label>
      <input matInput [(ngModel)]="taskText">
    </mat-form-field>
    <button style="width: 100%" mat-flat-button color="primary" (click)="createTask(taskText)">Create task</button>
  </div>
</ng-template>
