<mat-card class="center">
  <mat-card-title class="title">Todo app</mat-card-title>
  <mat-tab-group>
    <mat-tab label="Login">
      <mat-form-field class="username">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="loginUsername">
      </mat-form-field>
      <mat-error style="margin-bottom: 8px" *ngIf="loginError">{{loginError}}</mat-error>
      <button (click)="login()" style="width: 100%" mat-flat-button color="primary">Login</button>
    </mat-tab>
    <mat-tab label="Register">
      <mat-form-field class="username">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="registerUsername">
      </mat-form-field>
      <mat-error style="margin-bottom: 8px" *ngIf="registerError">{{registerError}}</mat-error>
      <button (click)="register()" style="width: 100%" mat-flat-button color="primary">Register</button>
    </mat-tab>
  </mat-tab-group>
</mat-card>
